<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS HTML</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <form action="/get-form-data" method="post">
        <legend>
            Fill THE FORM
        </legend>
        <input type="text"
        placeholder="Enter User Name Here"
        name="UserName"
        >
        
        <input type="text"
        placeholder="Enter Email Here"
        name="Email"
        > 
        <input type="password"
        placeholder="Enter Password Here"
        name="password"
        >
        <button>Submit Form</button>

    </form>
    <script src="/script.js"></script>
</body>
</html>