<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register USER</title>
    <link rel="stylesheet" href="rejister.css">
</head>

<body>
    <h1>Register Page</h1>
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="Type Your Username">
        <input type="email" name="email" placeholder="Type Your Email">
        <input type="password" name="password" placeholder="Type Your Password">
        <button>SignUp Here</button>
        <button><a href="/update-user" target="_blank">
            UPDATE USER With The USER NAME a
        </a></button>
        <button><a href="/delete-user" target="_blank">
            Delete USER With The USER NAME a
        </a></button>
        <button><a href="/all-users" target="_blank">
            Check All Users
        </a></button>
    </form>
</body>
</html>